BODY {
background-color:threedface;
margin:2px;
border-width:0px;
overflow:auto;
}

BUTTON {
font-size:xx-small;
line-height:1em;
height:1.8em;
font-weight:bold;
}



#input, #output {
font:10px 'Lucida Console', 'courier new', monospace;
height:100%;
width:100%;
Nheight:expression(parseInt(this.parentElement.offsetHeight)-15);
Nwidth:expression(parseInt(this.parentElement.offsetWidth)-15);
overflow:auto;
text-overflow:ellipsis;
}
#input {
border:2px inset;
}
#output {
border:1px dotted;
padding:2px;
background-color:#eee;
white-space:nowrap;
width:expression(parseInt(this.parentElement.offsetWidth)-5);
behavior:url(js-highlight.htc);
}


#options {
font:xx-small Tahoma, Arial, sans-serif;
overflow-x:auto;
height:100%;
width:100%;
vertical-align:middle;
white-space:nowrap;
}

#options INPUT.chk {
width:11px;
height:11px;
}
